---
import Footer from "@components/Footer.astro";
import PageAccordion from "@components/PageAccordion.astro";
import HomeTypewritter from "@components/HomeTypewritter.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  AnimationsPages,
  BackgroundPages,
  ColorsPages,
  ComponentsPages,
  EffectsPages,
  HelpersPages,
  IconPages,
  ImagesPages,
  SEOPages,
} from "@services/UtilsPages.js";
import HTML from "@/icons/HTML.astro";
import CSS from "@/icons/CSS.astro";
import Javascript from "@/icons/Javascript.astro";
import Git from "@/icons/Git.astro";
---

<RootLayout
  title="Tricks Web | Recursos, Trucos y consejos sobre desarrollo web"
  description="Aquí encontrarás una variedad de trucos. Aprenderás nuevas cosas. Descubrirás cosas que no sabías sobre desarrollo web con HTML,CSS, JAVASCRIPT, y GIT"
>
  <main>
    <section class="container">
      <div class="title">
        <h1>
          Trucos. consejos. Recursos. Ideas para componentes, y cosas que no
          Sabías sobre desarrrollo web
        </h1>
        <HomeTypewritter />
      </div>

      <p>
        Aquí encontrarás una variedad de trucos. Aprenderás nuevas cosas.
        Descubrirás cosas que no sabías, todo esto por <span class="heart"
          >❤</span
        > al desarrollo web
      </p>
      <div class="container-lang">
        <a href="/html/" title="ir a la seccion de html">
          <HTML />
        </a>
        <a href="/css/" title="ir a la seccion de css">
          <CSS />
        </a>
        <a href="/javascript/" title="ir a la seccion de javascript">
          <Javascript />
        </a>
        <a href="/git/" title="ir a la seccion de git">
          <Git />
        </a>
      </div>
      <a
        href="#tools"
        class="btn-down"
        title="ir a la seccion de recursos frontend"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-chevron-down"
          width="45"
          height="45"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6 9l6 6l6 -6"></path>
        </svg>
      </a>
    </section>
  </main>
  <section id="tools" class="pages-container">
    <article class="animated pages-title">
      <h2>Recursos Frontend</h2>
      <p>
        Estas páginas te ayudarán a crear tu próximo sitio web de una manera
        rápida y sencilla
      </p>
      <a
        href="https://webcode.tools/"
        target="_blank"
        rel="noopener noreferrer"
        class="more-tools"
        title="ir a la pagina de webcode tools"
      >
        Más Recursos
      </a>
    </article>
    <aside class="animated utils-pages">
      <PageAccordion title="SEO" utilsPages={SEOPages} />
      <PageAccordion title="Ayudas" utilsPages={HelpersPages} />
      <PageAccordion title="Componentes" utilsPages={ComponentsPages} />
      <PageAccordion title="Iconos" utilsPages={IconPages} />
      <PageAccordion title="Colores" utilsPages={ColorsPages} />
      <PageAccordion title="Backgrounds" utilsPages={BackgroundPages} />
      <PageAccordion title="Imagenes" utilsPages={ImagesPages} />
      <PageAccordion title="Efectos" utilsPages={EffectsPages} />
      <PageAccordion title="Animaciones" utilsPages={AnimationsPages} />
    </aside>
  </section>
  <Footer />
</RootLayout>

<style>
  main {
    max-width: var(--container);
    min-height: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
  }
  .container {
    width: var(--container);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: rgb(var(--bg-color));
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  .title h1 {
    font-size: var(--text-3);
    font-weight: 900;
    text-transform: uppercase;
    text-wrap: balance;
    color: transparent;
    background: linear-gradient(
        340deg,
        rgb(var(--title-color)) 45%,
        rgb(var(--bg-color)) 55%,
        rgb(var(--second-color))
      )
      70%;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    mix-blend-mode: difference;
  }

  @keyframes gradient {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }

  .container p {
    color: rgb(var(--text-color));
    font-size: var(--text-0);
    text-wrap: balance;
  }
  .heart {
    color: red;
  }
  .container-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .container-lang:hover > :not(:hover) {
    filter: grayscale(100%);
  }
  .btn-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-decoration: none;
    color: white;
    animation: bouncing 2s alternate infinite;
  }
  @keyframes bouncing {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
    }
  }

  /*----------------------------------------------------- UTILS PAGES SECTION */

  .pages-container {
    max-width: var(--container);
    margin: 0 auto 60px;
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .pages-title {
    flex: 1 3 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 20px;
    animation-name: showDown;
    animation-range: entry 20% cover 60%;
  }

  @keyframes showDown {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .pages-title h2 {
    color: rgb(var(--title-color));
    font-size: var(--text-5);
    font-weight: 600;
  }

  .pages-title p {
    color: rgb(var(--text-color));
    font-size: var(--text-0);
    text-wrap: balance;
  }

  .utils-pages {
    flex: 3 1 400px;
    height: 540px;
    overflow-y: auto;
    animation-name: showUp;
    animation-range: entry 50% cover 70%;
  }

  @keyframes showUp {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }

  .utils-pages:hover {
    box-shadow: 10px 10px 40px rgb(31, 31, 31);
  }

  .utils-pages::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent;
  }

  .utils-pages::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
  }

  .utils-pages:hover::-webkit-scrollbar-thumb {
    background-color: var(--main-color-alpha);
    border-radius: 10px;
  }

  .more-tools,
  .more-tools *,
  .more-tools :after,
  .more-tools :before,
  .more-tools:after,
  .more-tools:before {
    border: 0 solid;
    box-sizing: border-box;
  }

  .more-tools {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }
  .more-tools:disabled {
    cursor: default;
  }
  .more-tools:-moz-focusring {
    outline: auto;
  }
  .more-tools svg {
    display: block;
    vertical-align: middle;
  }
  .more-tools [hidden] {
    display: none;
  }
  .more-tools {
    text-decoration: none;
    background: rgb(var(--second-color));
    box-sizing: border-box;
    color: rgb(var(--bg-color));
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    padding: 1rem 2rem;
    perspective: 800px;
    position: relative;
    text-transform: uppercase;
    transform: rotateX(8deg);
    transform-style: preserve-3d;
    transition: transform 0.2s;
  }
  .more-tools:hover {
    background: rgb(var(--second-color) / 0.8);
  }
  .more-tools:before {
    background: rgb(var(--second-color));
    content: "";
    display: block;
    height: 20%;
    left: 0;
    position: absolute;
    top: 100%;
    transform: rotateX(-90deg);
    transform-origin: 0 0;
    width: 100%;
  }
  .more-tools:hover {
    transform: rotateX(25deg);
  }

  @media (width <= 860px) {
    .pages-container {
      gap: 30px;
    }
    .pages-title {
      align-items: center;
      text-align: center;
      animation-name: showLef;
    }
    @keyframes showLef {
      from {
        opacity: 0;
        transform: translateX(-100%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .pages-title p {
      font-size: var(--text-1);
      text-align: center;
    }

    .utils-pages {
      max-height: 580px;
      animation-range: entry 15% cover 40%;
    }
  }

  @media (width <= 480px) {
    .container {
      gap: 30px;
    }
  }
</style>
